.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 30px;
  }
  
  .main {
    width:70%;
    display: flex;
    flex-direction: column;
   
    margin: auto;
  }
  
  .sideBar {
    flex: 0.3;
    background-color: aqua;
    height: fit-content;

    max-width: 350px;
    right: 10%;
    margin-top: 10px;;
  }
  
  .navCont {
    
    min-width: 100vw;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  
  .postSec {
    border: 1px solid rgb(0, 255, 234);
    background-color: rgb(59, 5, 255);
    
    margin-top: 20px;
  }
  
  .imgCont {
    width: 100%;
    position: relative;
    height: 450px;
  }
  
  .img {
    object-fit: cover;
  }
  
  .interaction {
    display: flex;
    justify-content: space-between;
    padding: 6px;
  }
  
  .interactionLeft {
    display: flex;
    gap: 10px;
  }
  
  .commentSec {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 5px;
    z-index: 2; /* Set a higher z-index here */
  }
  
  .comment {
    padding: 10px;
    /* z-index: 999; Remove this z-index */
  }